TAGS
*~
*.o
data*/*
gs_stroop_gui
gs_stroop_sim_indiffs
simulations/.Rhistory
simulations/.directory
simulations/data
3task_basic
3task_basic_koch_conflict
3task_gui_koch_conflict
3task_koch_act.txt
3task_koch_data*.txt
3task_test.txt
3task_data.txt
pdpgui_test_1_data.txt
3task_gui
simulations/*.txt
\#*
simulations
simulations/sim_3_trials.conf
simulations/sim_3_trials_test.conf
simulations/sim_4_02_trials.conf
simulations/sim_5_trials.conf
simulations/sim_6_gui_conflict_neg.sh
simulations/sim_6_trials.conf
simulations/sim_6d_genetic_results
simulations/sim_6d_genetic_temp_rescale.R
simulations/sim_6d_model_genetic.conf
simulations/sim_6d_params_temp.conf
simulations/sim_6d_workingexample.R
valgrind_log.txt
